.container {
    flex: 1;
    border-radius: 0.8rem;
    margin: 6.4rem auto; /* 가운데 정렬 유지 */
    width: 640px; /* 고정된 너비로 설정 */
    text-align: center; /* 텍스트 정렬을 가운데로 유지 */
}

.title {
    margin-bottom: 2.4rem;
    font-size: 1.2rem;
    font-weight: 700;
    width: 100%;
    text-align: left; /* 왼쪽 정렬 */
}

.blogList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: left; /* 왼쪽 정렬 */
}

.blogItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12.8px;
    border-bottom: 0.4px solid #555;
    color: white;
    width: 100%; /* 아이템이 컨테이너 너비에 맞게 설정 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

.blogHeader {
    border-bottom: 0.8px solid #555;
}

.blogTitleHeader,
.blogDateHeader {
    width: 440px; /* 고정된 너비로 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

.blogTitleHeader {
    width: 375px; /* 고정된 너비로 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

.blogDateHeader {
    width: 65px; /* 고정된 너비로 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

.blogTitle {
    margin: 0;
    color: white;
    font-size: 12.8px;
    width: 375px; /* 고정된 너비로 설정 */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; /* 내용이 넘칠 때 잘리도록 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

.noticeLabel {
    color: #01c915;
    margin-right: 8px;
}

.blogContent {
    color: white;
}

.blogDate {
    font-size: 0.7rem;
    color: white;
    width: 65px; /* 고정된 너비로 설정 */
    text-align: left; /* 왼쪽 정렬 */
    overflow: hidden; /* 내용이 넘칠 때 잘리도록 설정 */
}

.blogButton {
    margin-right: 8px;
    color: #0070f3;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12.8px;
    text-decoration: underline;
    text-align: left; /* 왼쪽 정렬 */
}

.blogButton:hover {
    color: #005bb5;
}

.link {
    display: inline-block;
    margin-top: 16px;
    text-align: center;
    color: #555;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.checkboxContainer {
    margin: 8px 0;
    text-align: left; /* 왼쪽 정렬 */
}

.checkboxLabel {
    margin-left: 4px;
    text-align: left; /* 왼쪽 정렬 */
}

@media (max-width: 440px) {
    .container {
        max-width: 100%;
    }

    .title {
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
    }

    .blogItem {
        padding: 4px;
        flex-direction: column;
        align-items: flex-start;
    }

    .blogTitleHeader,
    .blogDateHeader {
        display: none;
    }

    .blogTitle {
        font-size: 12px;
        flex: none;
        width: 100%;
        margin-bottom: 5px;
    }

    .blogDate {
        font-size: 0.75rem;
        color: white;
        flex: none;
        width: 100%;
        text-align: left;
    }
}
