.container {
    flex: 1;
    border-radius: 1rem;
    margin: 8rem auto;
    max-width: 50em;
    width: 100%;
    padding: 0 2rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #01c915;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 48em;
    margin: 0 auto;
}

.formLabel {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #01c915;
}

.formInput {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #01c915;
    border-radius: 5px;
    background-color: #222222;
    color: #ffffff;
    font-size: 1em;
    width: 100%;
}

.textarea {
    height: 150px;
    resize: vertical;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkboxLabel {
    margin-left: 10px;
    color: #01c915;
}

.previewImage {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.previewVideo {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.formButton {
    background-color: #01c915;
    color: #000000;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
    margin-top: 20px;
}

.formButton:hover {
    background-color: #00a312;
}

/* @media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }

    .title {
        font-size: 1.75em;
    }

    .form {
        width: 100%;
        max-width: 90%;
    }

    .formLabel {
        font-size: 1em;
    }

    .formInput {
        font-size: 0.9em;
    }

    .formButton {
        font-size: 1em;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 4rem auto;
        padding: 0 1rem;
    }

    .title {
        font-size: 1.5em;
    }

    .form {
        max-width: 100%;
    }

    .formLabel {
        font-size: 0.9em;
    }

    .formInput {
        font-size: 0.85em;
    }

    .formButton {
        font-size: 0.9em;
        padding: 6px 12px;
    }
} */
