.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.formContainer {
    border-radius: 1rem; /* Equivalent to rounded-lg */
    max-width: 25rem;
    width: 100%;
    text-align: center; /* 전체 컨테이너 내용 가운데 정렬 */
}

.title {
    margin-bottom: 2rem; /* 아래쪽 여백 감소 */
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
}

.signup {
    margin-top: 1.5rem;
}

.underline {
    text-decoration: underline;
}

.label {
    margin-top: 1.5rem; /* 24px equivalent */
    margin-bottom: 0.5rem; /* 8px equivalent */
    display: block;
    font-size: 1rem;
    font-weight: 500;
    text-align: left; /* 라벨만 왼쪽 정렬 */
}

.input {
    width: 100%;
    border-radius: 0.5rem; /* 8px equivalent */
    border: 1px solid #e5e7eb; /* Equivalent to border-gray-200 */
    padding: 1rem 1rem; /* 패딩 값을 늘려 인풋박스 높이를 조정 */
    font-size: 0.875rem; /* Equivalent to text-sm */
    color: #555; /* Equivalent to placeholder-gray-500 */
}

.button {
    margin-top: 1.5rem;
    width: 100%;
    height: 3.5rem; /* 56px equivalent */
    font-size: 1rem;
    color: #ffffff;
    background-color: #0077ff;
    border: none;
    border-radius: 0.5rem; /* 8px equivalent */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #2c2c2c;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #cccccc; /* Adding a background color for disabled state */
}

.errorMessage {
    color: #ef4444; /* Equivalent to text-red-500 */
    font-size: 0.875rem; /* Equivalent to text-sm */
}

.checkboxContainer {
    margin-top: 1rem;
    text-align: left; /* Align checkbox container to the left */
}

.checkboxLabel {
    font-size: 1rem;
    font-weight: 500;
    margin-left: 0.5rem; /* Add some space between checkbox and label */
}

.underline {
    text-decoration: underline;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: black;
    color: white;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    overflow-y: auto; /* 내용이 길어질 경우 스크롤 추가 */
    max-height: 80vh; /* 화면 높이의 80%를 넘지 않도록 설정 */
    border: 2px solid #0077ff; /* Border 색상 추가 */
}

/* 스크롤바 스타일 */
.modal::-webkit-scrollbar {
    width: 12px;
}

.modal::-webkit-scrollbar-track {
    background: transparent;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #0077ff;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.modal h1 {
    font-size: 1.75rem; /* heading의 크기 조정 */
}

.modal h2 {
    font-size: 1.25rem;
}

.modal p,
.modal ul {
    margin: 20px 0;
}

.modal button {
    background-color: black;
    color: white;
    border: 1.2px solid white;
    font-size: 16px; /* Optional: Adjust font size */
    border-radius: 8px; /* Optional: Add rounded corners */
    padding: 8px 12px;
    white-space: nowrap; /* 텍스트를 줄바꿈하지 않도록 설정 */
    cursor: pointer;
}

.modal button:hover {
    background-color: #555;
}

/* @media (max-width: 440px) {
    .formContainer {
        max-width: 20rem;
        width: 90%;
    }

    .title {
        margin-bottom: 1.5rem;
        font-size: 1.25rem;
    }

    .label {
        margin-top: 1rem;
        margin-bottom: 0.25rem;
        font-size: 0.875rem;
    }

    .input {
        padding: 0.75rem;
        font-size: 0.75rem;
    }

    .button {
        margin-top: 1rem;
        height: 3rem;
        font-size: 0.875rem;
    }

    .errorMessage {
        font-size: 0.75rem;
    }

    .modal {
        width: 90%;
        max-width: 18rem; 
        padding: 1rem;
        padding: 1rem;
        max-height: 80vh; 
        border-radius: 1rem; 
        border: 2px solid #0077FF;
    }

    .modal h1 {
        font-size: 1.5rem;
    }

    .modal h2 {
        font-size: 1rem;
    }

    .modal p,
    .modal ul {
        font-size: 0.875rem;
    }

    .modal button {
        font-size: 0.875rem;
        padding: 0.5rem 1rem;
    }

    .modal::-webkit-scrollbar {
        width: 12px;
    }

    .modal::-webkit-scrollbar-track {
        background: transparent;
    }

    .modal::-webkit-scrollbar-thumb {
        background-color: #0077FF;
        border-radius: 20px;
        border: 3px solid transparent;
        background-clip: content-box;
    }
} */
